.cart-title{
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    margin: 0;
}

.empty-cart-container{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.empty-cart{
    height: 50vh;
    width: 50%;
    font-size: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border: 2px solid rgba(180, 180, 180, 0.35);
    border-radius: 2vh;
}

.full-cart-container{
    min-height: 80vh;
    width: 100%;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-cart{
    min-height: 70%;
    width: 70%;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(180, 180, 180, 0.35);
    border-radius: 2vh;
}

.cart-list-container{
    height: 90%;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    padding: 2vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-list-txt{
    font-size: 2.5vh;
    margin: 0;
}

.cart-list1{
    height: 100%;
    width: 60%;
}
.cart-list2{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-list3{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-btn{
    width: 10vh;
}

.counter-btn{
    width: 40px;
    text-align: center;
}

.buy-btn-container{
    width: 100%;
    height: 5vh;
    display: flex;

}
.buy-btn{
    width: 20vh;
    margin-left: auto;
    margin-right: auto;
    
}

.cart-container{
    border: 1px solid rgba(0, 0, 0, 0.35);
}

.total-container{
    height: 10vh;
    width: 100%;
    line-height: 10vh;
}

.total-txt{
    font-size: 3vh;
    text-align: center;
}

/* -------------Clases modificadas para el nav------------- */
.empty-cart-container-nav{
    border: 1px solid rgb(0, 0, 0, 0.35);
    text-align: center;
}

.nav-empty-cart-txt{
    font-size: 2vh;
    padding: 2vh;
}