@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.fondo{
    background-image: url(https://images.alphacoders.com/103/thumb-1920-1039414.png);
    background-size:cover;
    background-position: center;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title{
    display: none;
}

.logo{
    height: 40%;
}