* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  background-color: #222;
}

.Navbar_li, .Navbar_a, .Cart-Icon{
  color: white;
  font-size: 2.5vh;
  font-weight: 400;
  text-decoration: none;
}
.Navbar_ul {
  margin-bottom: 0px;
}
.Navbar_ul li{
  display: inline-block;
  padding: 20px 20px;
}

.Navbar_ul li a{
  transition: all 0.3s ease 0s;
}

.Navbar_ul li a:hover{
  color: lightgray;
}

.Cart-Icon{
  cursor: pointer;
  /* transform: scale(1.5); */
}

.Cart-Icon:hover{
  transition: all 0.3s ease 0s;
  color: lightgray;
}
