.my_menu_container{
  background-color: #333;
  margin: 0;
}

.my_menu_container ul{
  width: 350px;
  height: 6vh;
  list-style: none;
  margin:0 auto;
}
.my_menu_container li{
  float: left;
}
.my_menu_container a{
  display: block;
  text-align: center;
  color: white;
  font-size: 3vh;
  width: 15vh;
  height: 6vh;
  line-height: 6vh;
  text-decoration: none;
}

.my_menu_container a:hover{
  background-color: #111;
  color: lightgray;
}
